/mynetwork.graphml
/report.log
/model.h5
/model.json
/sub_model.h5
/sub_model.json

*.log
*.pyc
/__pycache__
/result
data/output/
data/input/*.tmp
data/input/*.log
data/input/*.xlsx
data/input/*.xls
data/input/*.parquet
*.h5
*.json